<div class="card">
  <h2>1. Señalar el Problema</h2>

  <!-- Colaborador -->
  <label>Colaborador*</label>
  <select [(ngModel)]="nuevoCaso.idUsuarioAfectado">
    <option value="0">Seleccione un colaborador</option>
    <option *ngFor="let e of empleados" [value]="e.id_usuario">
      {{ e.Nombre_Completo }}
    </option>
  </select>

  <!-- Categoría -->
  <label>Categoría*</label>
  <select [(ngModel)]="nuevoCaso.idCategoria">
    <option value="0">Seleccione una categoría</option>
    <option *ngFor="let c of categorias; let i = index" [value]="i + 1">
      {{ c }}
    </option>
  </select>

  <!-- Descripción -->
  <label>Descripción del problema*</label>
  <textarea
    rows="4"
    [(ngModel)]="nuevoCaso.descripcion"
    placeholder="Describe la situación detectada"
  ></textarea>

  <button (click)="crearCaso()">Guardar</button>
</div>
