$megacable-blue: #0047bb;

.page-container {
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.card {
  max-width: 600px;
  margin: 40px auto;
  padding: 24px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

  h2 {
    color: $megacable-blue;
    margin-bottom: 20px;
  }

  label {
    display: block;
    margin-top: 16px;
    font-weight: 600;
  }

  select,
  textarea {
    width: 100%;
    min-width: 550px;
    max-width :550px;
    padding: 8px;
    margin-top: 6px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  button {
    margin-top: 24px;
    padding: 10px 16px;
    background-color: $megacable-blue;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
      background-color: #003a9c;
    }
  }
}

label {
  display: block;
  margin-bottom: 6px;
  font-size: 16px;
  color: #444;
}

input[type="date"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 15px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}
