/* Fondo ocupa toda la pantalla */
.login-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url(/src/assets/img/mega-building.jpg);
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: -1; /* se asegura que quede al fondo */
  margin: 0;
  padding: 0;
}

/* Card central */
.login-card {
  background: rgba(212, 204, 204, 0.95);
  padding: 40px;
  border-radius: 12px;
  text-align: center;
  width: 350px;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.2);

  h1 {
    color: #004A99;
    margin-bottom: 10px;
  }

  h3 {
    font-weight: 400;
    color: #333;
    margin-bottom: 20px;
  }

  .logo {
    width: 100px;
    margin-bottom: 15px;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
      padding: 12px;
      border: 1px solid #ccc;
      border-radius: 8px;
    }

    button {
      background-color: #0078D7;
      color: white;
      padding: 12px;
      border: none;
      border-radius: 8px;
      cursor: pointer;
      font-weight: bold;

      &:hover {
        background-color: #005bb5;
      }
    }
  }
}
